# ========== API GATEWAY ==========
API_GATEWAY_PORT=3000

# ========== RABBITMQ ==========
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

# ========== POSTGRES ==========
POSTGRES_USERNAME=postgers
POSTGRES_PASSWORD=postgres
POSTGRES_DB_NAME=postgres

# ========== REDIS ==========
REDIS_PASSWORD=