# ========== API GATEWAY ==========
API_GATEWAY_PORT=3000

# ========== RABBITMQ ==========
RABBITMQ_USER=root
RABBITMQ_PASSWORD=qwerty123

# ========== POSTGRES ==========
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB_NAME=postgres

# ========== REDIS ==========
# Обязательно: пустое значение сломает healthcheck Redis
REDIS_PASSWORD=change_me

# ========== GRAFANA ==========
GRAFANA_PORT=3010

# ========== PROMETHEUS ==========
PROMETHEUS_PORT=9090

# ========== LOKI ==========
LOKI_PORT=3100

# ========== SUB2SOCKS ==========
SUB2SOCKS_PORT=1080
SUB2SOCKS_SUB_URL=https://example.com/sub
SUB2SOCKS_DNS_SERVER=1.1.1.1
