# ========== VK BOT API ==========
VK_BOT_API_KEY
VK_ADDY_GROUP_ID

# ========== RABBITMQ ==========
RABBITMQ_URL
RABBITMQ_QUEUE_NAME
RABBITMQ_QUEUE_NAME_RESULT

# ========== REDIS ==========
REDIS_HOST
REDIS_PORT
REDIS_USERNAME
REDIS_PASSWORD
REDIS_DATABASE