# ========== RABBITMQ ==========
RABBITMQ_URL
RABBITMQ_QUEUE_NAME

# ========== DATABASE ==========
DB_HOST
DB_PORT
DB_USERNAME
DB_PASSWORD
DB_NAME

# ========== REDIS ==========
REDIS_HOST
REDIS_PORT
REDIS_USER
REDIS_PASSWORD
REDIS_DB_NUMBER

# ========== TELEGRAM ==========
TELEGRAM_BOT_USERNAME

# ========== VK ==========
VK_SCREEN_GROUP_NAME