# ========== GENERAL ==========
PORT

# ========== SWAGGER ==========
SWAGGER_DOCS_TITLE
SWAGGER_DOCS_DESCRIPTION

# ========== RABBITMQ ==========
RABBITMQ_URL
RABBITMQ_QUEUE_NAME_VK
RABBITMQ_QUEUE_NAME_TELEGRAM
RABBITMQ_QUEUE_NAME_IDENTITY
RABBITMQ_QUEUE_NAME_NOTIFICTAION_RESULT

# ========== DATABASE ==========
DB_HOST
DB_PORT
DB_USERNAME
DB_PASSWORD
DB_NAME

# ========== REDIS ==========
REDIS_HOST
REDIS_PORT
REDIS_USER
REDIS_PASSWORD
REDIS_DB_NUMBER